*{
  margin: 0;padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

.heading{
  background-color:#0d3501;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1{
padding: 0;margin: 0;
}
.content{
  height: 80vh;
  width: 100vw;
  background-color: #dde7df;

}
.map{
   height: 100%;
  width: 100%;
  background-image: url(../public/miles-burke-idhx-MOCDSk-unsplash.jpg);
  background-size:cover;
  background-position:calc(100% - 0px) calc(100% - -138px);
  background-repeat: no-repeat;
  box-shadow: 0 10px 10px rgba(0,0,0,0.5);
}
.container1 {
  display: flex;
  flex-flow: wrap;
  justify-content:space-evenly;
  background-color: #0d3501;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.team {
  background-color: rgb(143, 236, 233);
  border: 2px solid rgb(160, 241, 138);
  width: 25rem;
  height: 15rem;
  margin: 2%;
  position: relative;
  transition: 0.6s ease-out;
  box-shadow: 0 10px 10px rgba(0,0,0,0.5);
  
  background-size: contain;
 background-repeat: no-repeat;
 background-position: center;
}
#team1{
  background-image: url("../public/prof-removebg-preview.png");
}
#team2{
  background-image: url("../public/juni_mam-removebg-preview.png");
}
  

.position {
  position: relative;
  bottom: 0;
  z-index: 3;
  color: #fff;
  opacity: 0;
  transform: translateY(160px);
  transition: .5s;
  left: 10px;
  display: block;
 font-size: large;
}
.name{
  position: relative;
  bottom: 0;
  z-index: 3;
  color: #fff;
  opacity: 0;
  transform: translateY(175px);
  transition: .5s;
  left: 10px;
  display: block;
  font-size: large;
}

.fa-solid {
  margin-left: 0.5vw;
  cursor: pointer;
}
.fas {
  margin-left: 0.3vw;
  cursor: pointer;
}

/* web team data  */

/* hover effects */
.fa-solid:hover {
  font-size: x-large;
}
.fas:hover{
  font-size: x-large;
}
.team:hover{
  transform: translateY(10px);
}
.team:hover::before{
  opacity: 1;
}
.team:hover .position {
  opacity: 1;
}
.team:hover .name {
  opacity: 1;
}
.team::before{
content: '';
position: absolute;
top:0;
left: 0;
display: block;
width: 100%;
height: 100%;
background: linear-gradient(to top,#000,transparent);
z-index:2;
transition: 0.5s;
opacity: 0;
}


/* responsive */
@media screen and (max-width: 1100px) {
  .map{
    background-position: center;
  }
}
@media screen and (max-width: 710px) {
  .content{
    height: 50vh;
  }
  .container1 {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
  
  .team {
    width: 80%;
    margin: 2%;
    position: relative;
  box-shadow: 0 10px 10px rgba(0,0,0,0.5);
  }
  .fa-solid {
    margin-left: 2vw;
    cursor: pointer;
  }
  .fas {
    margin-left: 1vw;
    cursor: pointer;
  }
}

/* table */
.App {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
  
table {
  border: 2px solid forestgreen;
  width: 88%;
  height: 100%;
  table-layout: fixed;
}
  
th {
  border-bottom: 2px solid black;
  border-radius: 5px;
}
  
td {
  text-align: center;
  word-wrap: break-word;
  border: 1px solid black;
}

.existingIncubatesData{
  margin: auto;
  width: 80%;
  text-align: center;
  padding: 2em;
}